@font-face {
    font-family: font_strong;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font_markpro;
    src: url('../fonts/MarkProBook.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
a,
button {
    font-family: font_markpro;
}

.displayNone {
    display: none
}

.cus-category,
.container-item,
.container-banner,
.container-blog {
    margin: 0 auto;
}

.container-banner {
    width: 73%;
}

.cus-category {
    max-width: 1920px;
}

.flex {
    display: flex;
    flex-wrap: wrap
}

.container-all {
    margin: 0 2.3% 0 3.3%;
}

.container-blog,
.container-item {
    width: 100%;
}

.mg-auto {
    margin: auto 0;
}

.wid10 {
    width: 10%;
}

.wid20 {
    width: 20%;
}

.wid25 {
    width: 25%;
}

.wid30 {
    width: 30%;
}

.wid40 {
    width: 40%;
}

.wid50 {
    width: 50%;
}

.wid60 {
    width: 60%;
}

.wid70 {
    width: 70%;
}

.wid80 {
    width: 80%;
}

.wid90 {
    width: 90%;
}

.wid100,
.menufix,
.opacity-all {
    width: 100%;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.header a,
ul li a {
    color: black;
}

ul .active a {
    color: #92ac28
}

.dots-item.dots-active .dots-style {
    background: black
}

.flex-gr1 {
    flex-grow: 1;
}

.menufix {
    position: fixed;
    background-color: white;
    z-index: 10;
    top: 0;
}

.width-auto {
    width: auto;
}

.opacity-all {
    position: fixed;
    height: 100%;
    background-color: black;
    z-index: 11;
    opacity: .6;
}

.menuMobile,
.menufix {
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}

@media screen and (min-width: 768px) {
    .container-blog {
        width: 73%;
    }
}

@media screen and (min-width: 1024px) {
    .container-blog,
    .container-item {
        width: 73%;
    }
    .slick-dots {
        bottom: 25px
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}