.container-footer {
    width: 80%;
    margin: 0 auto;
}

.footer {
    background-color: #222222;
}

.footer .info,
.footer .support,
.footer .service,
.footer .about {
    width: 100%;
}

.footer .info,
.footer .service,
.footer .support,
.footer .about {
    margin-top: 20px;
}

.main-footer {
    padding: 57px 0 66px 0
}

.main-footer .description {
    margin: 10px 0 30px 0;
}

.footer p {
    line-height: 1.6
}

.footer p,
.main-footer a {
    color: #6c6c6c;
    font-size: 16px;
}

.footer span {
    color: white;
    font-size: 14px;
}

.main-footer .title {
    margin-bottom: 20px;
}

.main-footer .item {
    padding: 0 30px 0 0;
}

.support .phone {
    margin: 10px 0
}

.support img {
    margin: 10px 0
}

.footer ul li {
    display: block;
    line-height: 1.5;
    padding: 0 0 4px 0;
}


/* style extend footer */

.extend-footer {
    height: auto;
    border-top: 1px solid #6c6c6c;
    text-align: center;
}

.extend-footer .left {
    margin: auto
}

.extend-footer .right {
    align-items: center;
    justify-content: center;
}


/* res 788px screen */

@media screen and (min-width: 768px) {
    .footer .info,
    .footer .about,
    .footer .support,
    .footer .service {
        width: 50%;
    }
    /* style extend footer */
    .extend-footer {
        text-align: left;
    }
    .extend-footer .left {
        margin: auto
    }
    .extend-footer .right {
        align-items: center;
        justify-content: right;
    }
}


/* res 1024px screen */

@media screen and (min-width: 1024px) {
    .footer .info,
    .footer .support {
        width: 30%;
    }
    .footer .service,
    .footer .about {
        width: 20%;
    }
    .container-footer {
        width: 90%;
    }
}


/* res 1440px screen */

@media screen and (min-width: 1440px) {}


/* res 1920px screen */

@media screen and (min-width: 1920px) {
    .container-footer {
        width: 73%;
    }
    .footer .info,
    .footer .support {
        width: 34.4%;
    }
    .footer .service {
        width: 17%
    }
    .footer .about {
        width: 14.2%
    }
    .extend-footer {
        height: 85px;
    }
}