/* res <768px screen */


/* style header-contact */

.header-contact,
.header-contact .right,
.header-menu {
    width: 100%;
}

.header {
    z-index: 11;
    background-color: white
}

.header-contact {
    height: 43px;
    background-color: #f5f5f5;
    font-size: 13.5px;
    opacity: .8;
}

.header-contact .left,
.header-contact .right .other-contact {
    display: none
}

.header-contact .right {
    justify-content: center;
}


/* style header-menu */

.header-menu {
    height: 70px;
}

.header-menu-item,
.header-menu-mobile,
.header-contact .container-all {
    height: 100%;
}

.header-menu .bars,
.header-menu .action {
    flex-grow: 1;
}

.header-menu .bars {
    text-align: left;
    margin: auto 0;
    font-size: 20px;
}

.header-menu .logo,
.header-menu .count-product-cart,
.header-menu-mobile .logo,
.header-menu-mobile .action-mobile,
.header-menu .menu {
    text-align: center
}

.header-menu .logo {
    flex-grow: 3;
}

.header-menu .menu,
.header-menu .action .other-action {
    display: none
}

.header-menu .menu a {
    font: normal bold 18px font_markpro;
}

.header-menu a,
.header-menu-mobile a {
    text-decoration: none;
}

.header-menu a,
.header-menu-mobile a {
    color: black
}

.header-menu .menu ul li {
    padding: 23px
}

.header-menu .menu ul li a:hover {
    color: #92ac28;
}

.header-menu .action {
    justify-content: right;
    text-align: right;
}

.header-menu .count-product-cart {
    background-color: #92ac28;
    border-radius: 50%;
    width: 18px;
    height: 18px
}

.header-menu .count-product-cart span {
    font-size: 18px;
    color: white
}


/* header common style */

.padding-item-other-contact {
    padding: 0 0px 0 20px
}

.padding-left-header {
    padding-left: 26px;
}

.padding-right-header {
    padding-right: 30px;
}

.language {
    padding-right: 18px;
}


/* menu mobile */

.header-menu-mobile {
    position: fixed;
    background-color: white;
    z-index: 12;
    width: 320px;
}

.header-menu-mobile .logo {
    margin: 20px 0;
}

.header-menu-mobile .close-btn {
    position: absolute;
    top: 10px;
    right: 10px
}

.menu-mobile ul li {
    display: block;
    padding: 20px;
    border-bottom: 1px groove gray;
}

.menu-mobile ul li.active {
    color: #92ac28;
}

.header-menu-mobile .action-mobile {
    margin-top: 20px;
}

.header-menu-mobile a,
.login {
    font-weight: bold;
}


/* res 788px screen */

@media screen and (min-width: 768px) {
    /* style header-contact */
    .header-contact .right .other-contact {
        display: flex;
    }
    /* style header-menu */
    .header-menu .action .other-action {
        display: flex;
        flex-grow: 2
    }
}


/* res 1024px screen */

@media screen and (min-width: 1024px) {
    /* style header-contact */
    .header-contact .right {
        width: 50%;
        justify-content: right;
    }
    .header-contact .left {
        width: 50%;
        display: flex;
    }
}


/* res 1440px screen */

@media screen and (min-width: 1440px) {
    /* style header-menu */
    .header-menu .menu {
        display: block;
        flex-grow: 6;
    }
    .header-menu .bars {
        display: none
    }
    .header-menu .logo {
        flex-grow: 1.5;
        text-align: left
    }
}


/* res 1920px screen */

@media screen and (min-width: 1920px) {}