    /* res <768px screen */
    /* style banner */
    
    .banner,
    .banner .item,
    .category .left,
    .category .imgLeft,
    .category .imgRight,
    .category .imgDownMobile,
    .category .down,
    .ads,
    .testimonial,
    .register,
    .category .left {
        position: relative;
    }
    
    .banner .item,
    .banner-content,
    .banner .dots,
    .category .cate-content,
    .category .imgMobile,
    .best-selling .product .product-item,
    .ads img,
    .ads .ads-content,
    .shop-the-collections .stc-item .item,
    .testimonial img.bg,
    .testimonial-content,
    .testimonial .dots,
    .blog .blog-item .item,
    .register .register-item,
    .register .register-form input {
        width: 100%;
    }
    
    .banner .item .banner-content,
    .banner .dots,
    .category .cate-content,
    .ads .ads-content,
    .testimonial-content,
    .testimonial .dots,
    .register .register-item {
        position: absolute;
    }
    
    .banner .item .banner-content h2,
    .banner .item .banner-content button,
    .best-selling .title,
    .best-selling .product .product-info p,
    .shop-the-collections .stc-item .item button,
    .ads .ads-content h5,
    .testimonial-content .title,
    .testimonial-content .position p,
    .blog .blog-item .item a,
    .register .register-item p.child {
        font-weight: bold;
    }
    
    .banner .item .banner-content h2,
    .category .cus-text-category a,
    .ads .ads-content h2,
    .blog .blog-item .item a {
        color: black;
    }
    
    .banner .item .banner-content h4 span,
    .category .cus-text-category h5,
    .blog .blog-item .item .infor p span {
        color: #92AC28
    }
    
    .banner .item .banner-content button,
    .register .register-form .btn-submit button {
        background-color: black;
    }
    
    .banner .item .banner-content button,
    .category .img h5,
    .category .img a,
    .category .img h2,
    .ads .ads-content h5,
    .blog .blog-item .item .infor span.blog-title,
    .register .register-form .btn-submit button,
    .ads .ads-content .sale {
        color: white;
    }
    
    .banner .item .banner-content button,
    .register .register-form .btn-submit button,
    .register .register-form input {
        border: none;
    }
    
    .ads .ads-content .sale,
    .blog .blog-item .item .infor span.blog-title {
        background: #92ac28;
    }
    
    .banner .item .banner-content {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .banner .item .banner-content h4 span,
    .banner .item .banner-content h4 {
        font-size: 8px;
    }
    
    .banner .item .banner-content h4 {
        display: block;
        color: #444444
    }
    
    .banner .item .banner-content h2 {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .banner .item .banner-content button {
        font-size: 6px;
        margin-top: 20px;
        padding: 5px;
    }
    
    .banner .item .banner-content button:hover {
        background: #92AC28
    }
    
    .banner .dots,
    .testimonial .dots,
    .register .register-form {
        justify-content: center;
    }
    
    .banner .dots {
        bottom: 10px;
        z-index: 4;
    }
    
    .banner .dots .dots-item {
        width: 20px;
    }
    
    .banner .dots .dots-style {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid black;
    }
    
    .banner .dots .dots-style:hover {
        background: black
    }
    /* style category */
    
    .container-category {
        margin: 0 40px
    }
    
    .category,
    .testimonial-content,
    .branch-img,
    .ig-img {
        height: 100%
    }
    
    .category .cus-text-category h5 {
        font-size: 9px;
    }
    
    .category .cus-text-category h2,
    .category .cus-text-category a,
    .category .img h2,
    .category .img a {
        font-weight: 700;
    }
    
    .category .cus-text-category h2 {
        margin: 10px 0;
        color: black !important;
    }
    
    .category .cus-text-category a,
    .category .img a,
    .blog .blog-item .item a {
        text-decoration: none;
    }
    
    .category .cus-text-category a {
        padding-bottom: 5px;
        border-bottom: 2px solid black;
    }
    
    .category .img h5,
    .category .cus-text-category h2,
    .category .cus-text-category a,
    .category .img a {
        font-size: 15px;
    }
    
    .category .img h2 {
        font-size: 20px;
        margin: 1.7rem 0;
    }
    
    .category .img a {
        padding-bottom: 5px;
        border-bottom: 2px solid white;
    }
    
    .category .cate-content {
        top: 15px;
    }
    
    .category .right {
        display: none;
        height: 476px
    }
    /* style best-selling */
    
    .best-selling .title,
    .best-selling .product,
    .ads .ads-content,
    .shop-the-collections .title,
    .shop-the-collections .stc-item .item,
    .testimonial,
    .blog .title,
    .branch .img,
    .register {
        text-align: center;
    }
    
    .best-selling .title,
    .ads,
    .shop-the-collections .title,
    .blog .title,
    .register .register-item h1 {
        font-size: 32px;
    }
    
    .best-selling .title {
        margin: 75px 0 25px 0;
    }
    
    .best-selling .product .product-item {
        margin-bottom: 25px;
        padding: 15px
    }
    
    .best-selling .product .product-info {
        margin-top: 30px;
    }
    
    .best-selling .product .product-info span,
    .best-selling .product .product-info p,
    .best-selling .product .price span,
    .testimonial-content .text {
        line-height: 2
    }
    
    .best-selling .product .product-info span,
    .best-selling .product .price span {
        color: #666666;
    }
    
    .best-selling .product .product-info span,
    .ads .ads-content h5,
    .ads.testimonial-content .position p,
    .testimonial-content .position span,
    .blog .blog-item .item .infor span.blog-title,
    .blog .blog-item .item .infor p {
        font-size: 14px;
    }
    
    .best-selling .product .product-info p,
    .best-selling .product .price span,
    .shop-the-collections .stc-item .item button,
    .testimonial-content .text,
    .blog .blog-item .item a,
    .register .register-item p.child,
    .register .register-form input {
        font-size: 16px;
    }
    /* style ads */
    
    .ads img {
        height: 300px;
        opacity: .4;
    }
    
    .ads .ads-content {
        top: 35px;
    }
    
    .ads .ads-content .sale,
    .blog .blog-item .item .infor span.blog-title {
        text-transform: uppercase;
    }
    
    .ads .ads-content .sale,
    .shop-the-collections .stc-item .item button,
    .register .register-form .btn-submit button {
        border-radius: 5px;
    }
    
    .ads .ads-content .sale {
        padding: 6px 10px;
        display: inline-block;
        margin-bottom: 30px;
    }
    
    .ads .ads-content .sale:hover {
        background: #c7ab62;
    }
    
    .ads .ads-content h2,
    .ads .ads-content p {
        line-height: 1.2;
    }
    
    .ads .ads-content h2 {
        font-size: 40px;
        font-weight: lighter;
    }
    
    .ads .ads-content p,
    .testimonial-content .title,
    .register .register-item p {
        font-size: 18px;
    }
    
    .ads .ads-content p {
        margin-top: 25px;
    }
    /* style shop the collections */
    
    .shop-the-collections .title {
        margin: 75px 0 25px 0;
    }
    
    .shop-the-collections .stc-item .item {
        padding: 15px
    }
    
    .shop-the-collections .stc-item .item .infor,
    .blog .blog-item .item .infor h5 {
        font-size: 24px;
    }
    
    .shop-the-collections .stc-item .item .infor {
        margin: 25px 0 15px 0;
    }
    
    .shop-the-collections .stc-item .item button {
        padding: 10.5px 30px;
        background-color: white;
    }
    
    .shop-the-collections .stc-item .item button:hover {
        background: #92ac28;
        border-color: #92ac28;
        color: white
    }
    /* style testimonial */
    
    .testimonial img.bg {
        height: 500px
    }
    
    .container-testimonial {
        width: 96%;
        margin: 0 auto;
    }
    
    .testimonial {
        margin-top: 75px;
    }
    
    .testimonial-content {
        top: 10%;
    }
    
    .testimonial-content .img {
        margin: 40px 0 30px 0 !important;
    }
    
    .testimonial-content .text,
    .testimonial-content .position span,
    .blog .blog-item .item .infor h5 {
        font-weight: normal;
    }
    
    .testimonial-content .text {
        margin-bottom: 30px
    }
    
    .testimonial .dots {
        z-index: 4;
        bottom: 35px;
    }
    
    .testimonial .dots .dots-item {
        width: 20px;
    }
    
    .testimonial .dots .dots-style {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid black;
    }
    
    .testimonial .dots .dots-style:hover {
        background: black
    }
    /* style blog */
    
    .blog .title {
        margin: 55px 0 25px 0;
    }
    
    .blog .blog-item .item {
        padding: 15px
    }
    
    .blog .blog-item .item img {
        margin-bottom: 25px;
    }
    
    .blog .blog-item .item .infor span.blog-title {
        border-radius: 3px;
        padding: 6px 16px 4px;
        line-height: 1;
        cursor: pointer;
    }
    
    .blog .blog-item .item .infor span.blog-title:hover {
        background: black;
    }
    
    .blog .blog-item .item .infor {
        height: 250px
    }
    
    .blog .blog-item .item .infor p {
        margin: 25px 0;
    }
    
    .blog .blog-item .item .infor h5 {
        margin-bottom: 25px;
    }
    
    .blog .blog-item .item a {
        padding-bottom: 7px;
        border-bottom: 2px solid black;
    }
    /* style branch */
    
    .branch {
        height: 225px;
        background-color: #f8f5ec;
        margin-top: 75px;
        overflow-x: scroll;
    }
    
    .branch::-webkit-scrollbar {
        display: none;
    }
    
    .branch-img {
        margin: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .branch-img .img img {
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    
    .branch .img {
        width: 16.66667%;
    }
    /* style ig-img */
    
    .ig-img .img {
        width: 20%;
    }
    /* style register */
    
    .register {
        height: 380px;
        background-color: #f8f5ec;
    }
    
    .register .register-item {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .register .register-item p {
        margin: 30px 0;
    }
    
    .register .register-item p.child {
        margin: 20px 0;
    }
    
    .register .register-form .input {
        background: #f8f5ec;
        width: 200px;
    }
    
    .register .register-form .btn-submit button {
        padding: 10px 20px;
        margin-left: 5px;
    }
    
    .register .register-form input {
        background: #f8f5ec;
        padding: 10px 0;
        border-bottom: 1px solid black;
        outline: none;
    }
    /* res 768px screen */
    
    @media screen and (min-width: 768px) {
        /* style banner */
        .banner .item .banner-content h4,
        .banner .item .banner-content h4 span,
        .category .cus-text-category h5,
        .category .img h5 {
            font-size: 14px;
        }
        .banner .item .banner-content h4 {
            display: block;
        }
        .banner .item .banner-content h2 {
            font-size: 30px;
        }
        .banner .item .banner-content button {
            font-size: 8px;
            margin-top: 30px;
            padding: 10px;
            background: black
        }
        .banner .item .banner-content button:hover {
            background: #92AC28
        }
        /* style category */
        .category .cus-text-category h5 {
            color: #92AC28 !important;
        }
        .category .cus-text-category h2 {
            font-size: 40px;
            margin: 1.7rem 0;
        }
        .category .cus-text-category a {
            color: black;
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 2px solid black;
        }
        .category .img h2 {
            margin: 1.7rem 0;
        }
        .category .img a {
            font-size: 16px;
        }
        .category .cate-content {
            position: absolute;
            top: 75px;
        }
        .category .right {
            display: flex;
            height: 100%;
        }
        .category .right .up,
        .category .down,
        .category .right,
        .category .left,
        .category .cate-content {
            width: 100%;
        }
        .category .imgLeft,
        .category .imgRight,
        .best-selling .product .product-item {
            width: 50%;
        }
        .category .imgMobile {
            display: none;
        }
        .container-category {
            margin: 0 70px
        }
        /* style best-selling */
        .best-selling .product .product-item {
            padding: 15px
        }
        /* style shop the collections */
        .shop-the-collections .stc-item .item .infor {
            height: 60px
        }
        .shop-the-collections .stc-item .item {
            width: 33.3333334%;
        }
        /* style blog */
        .blog .blog-item .item .infor {
            height: 200px
        }
        /* style testimonial */
        .testimonial .dots {
            bottom: 100px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        /* style banner */
        .banner .item .banner-content h4,
        .banner .item .banner-content h4 span {
            font-size: 20px;
        }
        .banner .item .banner-content h2 {
            font-size: 40px;
        }
        .banner .item .banner-content button {
            font-size: 14px;
            padding: 11px 38px;
        }
        /* style category */
        .category .right .img {
            padding: 0 10px 0px 10px
        }
        .category .right .cus-text-category .img {
            padding: 10px
        }
        .container-category {
            margin: 0 30px
        }
        .category .cate-content {
            top: 25px;
        }
        .category .cus-text-category h2 {
            font-size: 30px;
        }
        .category .img h2 {
            font-size: 15px;
            margin: 1.7rem 0;
        }
        .category .left,
        .category .right {
            width: 50%;
        }
        .category .right {
            height: auto
        }
        /* style ads */
        .ads img {
            height: auto;
            width: 100%;
            opacity: .8;
        }
        /* style blog */
        .blog .blog-item .item {
            width: 33.333334%;
            padding: 15px
        }
        .blog .blog-item .item .infor {
            height: 250px
        }
        /* style register */
        .register .register-form .input {
            width: 700px;
        }
        /* branch */
    }
    
    @media screen and (min-width: 1440px) {
        /* style banner */
        .banner .item .banner-content h4,
        .banner .item .banner-content h4 span {
            font-size: 24px;
        }
        .banner .item .banner-content h2 {
            font-size: 60px;
        }
        .banner .item .banner-content button {
            font-size: 18px;
            padding: 11px 38px;
            background: black
        }
        .banner .item .banner-content button:hover {
            background: #92AC28
        }
        /* style best-selling */
        .best-selling .product .product-item {
            width: 25%;
            padding: 15px
        }
        /* style ads */
        .ads .ads-content {
            top: 25px;
        }
        .ads .ads-content h2 {
            font-size: 80px;
        }
        .ads img {
            opacity: 1;
        }
        /* style testimonial */
        .testimonial img.bg,
        .testimonial-content,
        .branch-img {
            width: 100%;
        }
        .testimonial img.bg {
            height: 500px;
        }
        .container-testimonial {
            width: 50%;
        }
        .testimonial {
            margin-top: 75px;
        }
        .testimonial-content {
            position: absolute;
            top: 10%;
        }
        .testimonial-content .title {
            font-size: 32px;
        }
        .testimonial-content .text {
            font-size: 20px;
        }
        .testimonial-content .position p {
            font-size: 16px;
        }
        .testimonial-content .position span {
            font-size: 16px;
        }
        .testimonial .dots {
            bottom: 50px;
        }
        /* style blog */
        .blog .blog-item .item .infor {
            height: 200px
        }
        /* branch */
        .branch-img,
        .testimonial-content {
            height: 100%;
        }
        /* style mobile menu */
        .opacity-all {
            display: none;
        }
        .header-menu-mobile {
            display: none
        }
    }
    
    @media screen and (min-width: 1920px) {
        /* style category */
        .category .right .img {
            padding: 0 !important
        }
        .category .cus-text-category h5 {
            font-size: 14px !important;
            color: #92AC28
        }
        .category .cus-text-category h2 {
            font-size: 40px;
            margin: 1.7rem 0
        }
        .category .cus-text-category a {
            color: black;
            font-size: 16px !important;
            padding-bottom: 5px;
            border-bottom: 2px solid black;
        }
        .category .img h5 {
            font-size: 14px;
        }
        .category .img h2 {
            font-size: 40px;
            margin: 1.7rem 0;
        }
        .category .img a {
            font-size: 16px;
        }
        .category .cate-content {
            top: 75px;
        }
        .category .right .up {
            height: 476px;
        }
        .container-category {
            margin: 0 60px
        }
        /* style ads */
        .ads .ads-content {
            top: 75px;
        }
        .ads .ads-content h2 {
            font-size: 80px;
        }
        /* style testimonial */
        .container-testimonial {
            width: 50%;
        }
        /* style testimonial */
        .testimonial-content {
            position: absolute;
            top: 10%;
            width: 100%;
        }
        /* branch */
        .branch-img,
        .testimonial-content {
            height: 100%;
        }
        .branch-img {
            width: 73%;
        }
    }
    
    @media screen and (min-width: 2560px) {
        .category .cus-text-category .img {
            height: 100%
        }
    }